<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"> {{ pageTitle }} </h3>
    </div>
    <div class="panel-body">
      <!-- <div class="form-group" [ngClass]="{'has-error' : employeeForm.get('fullName').errors && 
      (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty)}">
        <label class="col-sm-2 control-label" for="fullName">Full Name</label>
        <div class="col-sm-8">
          <input id="fullName" formControlName="fullName" type="text" class="form-control">
           <label>Length: {{ fullNameLength }}</label> 
          <span class="help-block" *ngIf="employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty">
            <span *ngIf="employeeForm.get('fullName').errors && employeeForm.get('fullName').errors.required">
              Full Name is required
            </span>
            <span *ngIf="employeeForm.get('fullName').errors && (employeeForm.get('fullName').errors.minlength || 
            employeeForm.get('fullName').errors.maxlength) ">
              Full Name must be between 4 and 15 characters
            </span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email</label>
        <div class="col-sm-8">
          <input id="email" formControlName="email" type="text" class="form-control">
        </div>
      </div>

      <div formGroupName="skills">

        <div class="form-group">
          <label class="col-sm-2 control-label" for="skillName">
            Skill
          </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="skillName" placeholder="Name" formControlName="skillName">
          </div>
          <div class="col-sm-4">
            <input type="text" placeholder="Experience in Years" class="form-control"
              formControlName="experienceInYears">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Proficiency</label>
          <div class="col-md-8">
            <label class="radio-inline">
              <input id="proficiency" type="radio" value="beginner" formControlName="proficiency">Beginner
            </label>
            <label class="radio-inline">
              <input id="proficiency" type="radio" value="intermediate" formControlName="proficiency">Intermediate
            </label>
            <label class="radio-inline">
              <input id="proficiency" type="radio" value="advanced" formControlName="proficiency">Advanced
            </label>
          </div>
        </div>

      </div> -->

      <div class="form-group" [ngClass]="{'has-error': formErrors.fullName}">
        <label class="col-sm-2 control-label" for="fullName">Full Name</label>
        <div class="col-sm-8">
          <input id="fullName" type="text" class="form-control" formControlName="fullName"
            (blur)="logValidationErrors()">
          <span class="help-block" *ngIf="formErrors.fullName">
            {{formErrors.fullName}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Contact Preference</label>
        <div class="col-md-8">
          <label class="radio-inline">
            <input type="radio" value="email" formControlName="contactPreference">Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="phone" formControlName="contactPreference">Phone
          </label>
        </div>
      </div>

      <div formGroupName="emailGroup">
        <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
          <label class="col-sm-2 control-label" for="email">Email</label>
          <div class="col-sm-8">
            <input id="email" type="text" class="form-control" formControlName="email" (blur)="logValidationErrors()">
            <span class="help-block" *ngIf="formErrors.email">
              {{formErrors.email}}
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': formErrors.confirmEmail || formErrors.emailGroup}">
          <label class="col-sm-2 control-label" for="confirmEmail">Confirm Email</label>
          <div class="col-sm-8">
            <input id="confirmEmail" type="text" class="form-control" formControlName="confirmEmail"
              (blur)="logValidationErrors()">
            <span class="help-block" *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
              {{formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup}}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': formErrors.phone}">
        <label class="col-sm-2 control-label" for="phone">Phone</label>
        <div class="col-sm-8">
          <input id="phone" type="text" class="form-control" formControlName="phone" (blur)="logValidationErrors()">
          <span class="help-block" *ngIf="formErrors.phone">
            {{formErrors.phone}}
          </span>
        </div>
      </div>

      <div class="well">

        <div class="form-group">
          <div class="col-md-offset-2 col-md-4">
            <button type="button" class="btn btn-primary" (click)="addSkillButtonClick()"
              [disabled]="employeeForm.get('skills').invalid">
              Add Skill
            </button>
          </div>
        </div>

        <div formArrayName="skills" *ngFor="let skill of employeeForm.get('skills').controls; let i = index">
          <div [formGroupName]="i">
            <hr *ngIf="i>0">
            <div class="form-group" [ngClass]="{'has-error': skill.controls.skillName.invalid && 
                                                              skill.controls.skillName.touched}">
              <label class="col-sm-2 control-label" for="{{'skillName'+i}}">
                Skill
              </label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="{{'skillName'+i}}" formControlName="skillName"
                   placeholder="JavaScript, Node js, Angular etc...">
                <span class="help-block" *ngIf="skill.controls.skillName.errors?.required && 
                  skill.controls.skillName.touched">
                  <!-- {{formErrors.skillName}} -->
                  Skill Name is required
                </span>
              </div>
              <div class="col-sm-6" *ngIf="employeeForm.get('skills').length>1">
                <button type="button" class="btn btn-danger btn-sm pull-right" title="Delete Skill"
                  (click)="removeSkillButtonClick(i)" >
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error': skill.controls.experienceInYears.invalid && 
            skill.controls.experienceInYears.touched}">
              <label class="col-sm-2 control-label" for="{{'experienceInYears'+i}}">
                Experience
              </label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="{{'experienceInYears'+i}}" formControlName="experienceInYears"
                  placeholder="In Years" (blur)="logValidationErrors()">
                <!-- <span class="help-block" *ngIf="formErrors.experienceInYears">
                  {{formErrors.experienceInYears}}
                </span> -->
                <span class="help-block" *ngIf="skill.controls.experienceInYears.errors?.required && 
                skill.controls.experienceInYears.touched">
                    Experience is required
                  </span>
              </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error': skill.controls.proficiency.invalid && 
            skill.controls.proficiency.touched}">
              <label class="col-md-2 control-label">Proficiency</label>
              <div class="col-md-8">
                <label class="radio-inline">
                  <input type="radio" value="beginner" formControlName="proficiency"
                    >Beginner
                </label>
                <label class="radio-inline">
                  <input type="radio" value="intermediate" formControlName="proficiency"
                    >Intermediate
                </label>
                <label class="radio-inline">
                  <input type="radio" value="advanced" formControlName="proficiency"
                    >Advanced
                </label>
                <!-- <span class="help-block" *ngIf="formErrors.experienceInYears">
                  {{formErrors.proficiency}}
                </span> -->
                <span class="help-block" *ngIf="skill.controls.proficiency.errors?.required && 
                skill.controls.proficiency.touched">
                    Proficiency is required
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <div class="btn-toolbar">
        <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid" >Save</button>
        <!-- <button class="btn btn-success" type="button" (click)="validateForm()">Validate Form</button> -->
      </div>
    </div>
  </div>
</form>